<div class="sketch-view container">
  <div class="row">
    <app-root-note-selector></app-root-note-selector>
    <app-scale-mode-selector></app-scale-mode-selector>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex flex-row">
        <label for="bpm">BPM</label>
        <input type="number" name="bpm" id="bpm" step="1" [value]="bpm$ | async" (change)="setBpm($event)" />
      </div>
    </div>
  </div>
  <div class="row">
    <div>Time Signature</div>
    <input type="number" name="numBeatsPerBar" id="numBeatsPerBar" [value]="numBeatsPerBar$ | async" (change)="setNumBeatsPerBar($event)" />
    <input
      type="number"
      name="noteDurationPerBeat"
      id="noteDurationPerBeat"
      [value]="noteDurationPerBeat$ | async"
      (change)="setNoteDurationPerBeat($event)"
    />
  </div>
  <div class="row">
    <div>Loop Duration</div>
    <input type="number" name="loopDuration" id="loopDuration" [value]="loopDuration$ | async" (change)="setLoopDuration($event)" />
  </div>
  <div class="row">
    <div class="col">
      <div>Metronome</div>
      <ng-container *ngIf="isMetronomeOn$ | async; else offState">
        <button class="material-icons" (click)="toggleIsMetronomeOn()">toggle_on</button>
      </ng-container>
      <ng-template #offState>
        <button class="material-icons" (click)="toggleIsMetronomeOn()">toggle_off</button>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ng-container *ngIf="isPlaying$ | async; else pauseIcon">
        <button class="material-icons" (click)="toggleIsPlaying()">pause_circle</button>
      </ng-container>
      <ng-template #pauseIcon>
        <button class="material-icons" (click)="toggleIsPlaying()">play_circle</button>
      </ng-template>
    </div>
  </div>
  <div class="row">
    {{ metronomeClick$ | async }}
  </div>
  <div class="row" *ngIf="numBeatsPerBar$ | async as numBeatsPerBar">
    <div class="col-12 d-flex">
      <button
        *ngFor="let num of [].constructor(numBeatsPerBar * ((loopDuration$ | async) ?? 1)); let i = index"
        class="card p-1 m-1 square d-flex flex-column justify-content-center align-items-center"
      >
        <span [class.text-bg-secondary]="(i + 1) % numBeatsPerBar === 1" [class.text-bg-warning]="(beatTick$ | async) === i + 1">
          {{ (i % numBeatsPerBar) + 1 }}
        </span>
      </button>
    </div>
  </div>
</div>
