{
  "overrides": [
    {
      "files": "src/**/*.html",
      "options": {
        "printWidth": 140
      }
    },
    {
      "files": "src/**/*.ts",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
