<div class="synth-view d-flex flex-row overflow-auto">
  @for (synthSetup of synthSetups; track synthSetup) {
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div>Synth</div>
        <div>{{ synthSetup.synth.oscillator.type }}</div>
      </div>
      <div class="d-flex flex-column">
        <button class="btn btn-primary m-2 align" (click)="playSynth(synthSetup.synth)">
          <span class="material-icons">play_arrow</span>
        </button>
        @for (oscillatorType of oscillatorTypes; track oscillatorType) {
          <button class="btn btn-secondary m-2" (click)="changeOscillatorType(synthSetup.synth, oscillatorType)">
            {{ oscillatorType | uppercase }}
          </button>
        }
      </div>
    </div>
  }
</div>
