<div class="player-view container">
  <div class="selector row">
    <div class="col-4 offset-4">
      <p class="d-inline">Scale Root Note</p>

      <select name="selectRootNote" [(ngModel)]="scaleRootNotePosition" (change)="updateScale()">
        <option *ngFor="let note of octaveThreeNotes" [value]="note.position">
          {{ note | note }}
        </option>
      </select>
      {{ scaleRootNotePosition }}

      <select name="selectedScaleMode" [(ngModel)]="scaleMode" (change)="updateScale()">
        <option *ngFor="let mode of modes" [value]="mode">
          {{ mode }}
        </option>
      </select>
    </div>
  </div>

  <app-chords-view></app-chords-view>

  <div class="d-flex overflow-auto">
    <div class="card" *ngFor="let note of scaleNotes$ | async" (click)="playNote(note)">
      <div>{{ note | note }}</div>
    </div>
  </div>
  <div class="d-flex overflow-auto">
    <div class="card" *ngFor="let note of notes" (click)="playNote(note)">
      <div class="d-flex flex-row justify-content-center fs-5">
        <div class="note-name">{{ note | note : note.octave }}</div>
      </div>
      <div class="d-flex flex-row justify-content-center fs-6">
        <div class="note-position">{{ note.position }}</div>
      </div>
    </div>
  </div>

  <app-synth-view></app-synth-view>
</div>
