<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
  <div class="navbar-nav">
    <a class="navbar-brand" href="#">Sketched</a>
  </div>
  <ul class="navbar-nav align-items-center">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="material-icons">queue_music</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="material-icons">add_circle</span>
        <span hidden class="material-icons">add_circle_outline</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="material-icons">piano</span>
      </a>
    </li>
  </ul>
  <div class="navbar-nav">
    <a class="nav-link" href="#">new sketch</a>
  </div>
</nav>
