<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
  <div class="navbar-nav">
    <a class="navbar-brand" href="#">Sketched</a>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">H</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">F</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">P</a>
    </li>
  </ul>
  <div class="navbar-nav">
    <a class="nav-link" href="#">new sketch</a>
  </div>
</nav>
