.navbar {
  .nav-item {
    .material-icons {
      vertical-align: middle;
    }
  }

  &:first-child,
  &:last-child {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.material-icons {
  font-size: 24px;
}
